h1{
    color: red;
}

h2{
    color: blue;
}

.logo {
    width: 50%;
}

ul.navbar-nav.mr-auto{
    font-size: 20px;
}
ul.navbar-nav.mr-auto a.nav-link:hover {
    color: #B6B6B6;
    border-bottom: solid 1px black;
    padding-bottom: 1px;
}

li.nav-item.active:last-child {
    padding-left: 12px;
}

.btn-success {
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: black;
    border-color: white;
}

.card-img-top {
    transition: .5s ease;
    backface-visibility: hidden;

}

.card-img-top:hover {
    opacity: 0.3;

}

.card-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

p .card-text {
    text-align: center;
}

.card-content-img {
    width: 30vw;
}

.btn-option {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.carousel_item {
    
    backface-visibility: hidden;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;

}

.carousel_item img {
    width: 10vw;
}